
    <div class="cursor"></div>
    <div class="cursor2"></div>


   
  
    <!--==============================
    Mobile Menu
  ============================== -->
    <div class="th-menu-wrapper">
        <div class="th-menu-area text-center">
            <button class="th-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo">
                <a class="icon-masking" href="/"><span data-mask-src="/img/logo.svg" class="mask-icon"></span><img src="/img/logo.svg" class="w-20" alt="Webteck"></a>
            </div>

            <div class="th-mobile-menu">
                <ul>
                   
                    <li><a href="/">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#objectives">Objectives</a></li>
                    <li><a href="#impact">Impact</a></li>

                </ul>
            </div>
        </div>
    </div><!--==============================
	Header Area
==============================-->
    <header class="th-header header-layout3">
     
        <div class="sticky-wrapper">
            <!-- Main Menu Area -->
            <div class="menu-area">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <div class="header-logo">
                                <a class="icon-masking" href="/"><span data-mask-src="/img/logo.svg" ></span><img src="/img/logo.svg" class="w-20" alt="Webteck"></a>
                            </div>
                        </div>
                        <div class="col-auto">
                            <nav class="main-menu d-none d-lg-inline-block">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="#about">About</a></li>
                                    <li><a href="#objectives">Objectives</a></li>
                                    <li><a href="#impact">Impact</a></li>
                
                                </ul>
                            </nav>
                            <div class="header-button">
                               
                                <button type="button" class="th-menu-toggle d-inline-block d-lg-none text-black"><i class="far fa-bars"></i></button>
                            </div>
                        </div>

                        <div class="col-auto d-none d-lg-block">
                            <div class="header-button">
                                <a href="https://forms.zohopublic.com/keralastartupmission/form/BUILDITBIG/formperma/p9BNoyc_BaK_gw6jF4ecvAE9q3wU39VfKalfSZXyoyQ" target="_blank" class="th-btn shadow-none z-">Apply Now<i class="fas fa-arrow-right ms-2"></i></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>



    